extends ../layout

block css
  link(rel='stylesheet', href='/stylesheets/event-detail.css')

block content
  div.container
    div.infoContainer
      div.leftContainer
        div
          span.category
            | #{event.event_type} #{'>'} #{event.event_topic}
        img(src='../images/event-placeholder.svg', alt='')
      div.rightContainer
        div.title
          | #{event.title}
        div.line
        div.mentoringDetail
          div.info#priceInfo
            i.fa.fa-money
            span#price
              | #{event.price} Ƀ / 건
          div.info
            i.fa.fa-calendar
            span
              | #{moment(event.createdAt).format('YYYY-MM-DD')}
          div.info
            i.fa.fa-briefcase
            span
              | #{event.author.name}
          div.info
            i.fa.fa-map-marker
            span
              | #{event.university}
          div.info
            i.fa.fa-star
            span
              | #{event.rating}
          div.info
            i.fa.fa-comments
            span
              | #{event.event_description}
          div.buttonContainer
            button
              | Buy
    div.commentsContainer
      h5.commentTitle
        | comments
      div
      if comments.length <= 0 
        div
          | 평가가 아직 없습니다.
      else
        div
        each comment in comments
          div.infoContainer.paddingOne
            div
              img(src='../images/avatar-placeholder.png', alt='').commentImage
            div.rightContainer
              div
                span
                  i.fa.fa-briefcase
                  |  #{comment.author.name}
              div
                | #{comment.content}
      form(action='/board/comment', method='POST').newContainer
        textarea(name='content', placeholder='멘토링 후기를 작성해주세요!', rows=3).inputText
        input(name='eventID', value=event._id, type='hidden')
        div.buttonBox
          button.commentButton(type='submit')
            | register
